.sidenav{
    float:left;
    background-color:lavender;
    margin-top: 0%;
    padding: 20px; 
    width:200px;
    height: 1000px;
    position: fixed;
}
.sidenav ul {
    list-style: none;
    display: block;
    height: 20px;
    width: 50px;
}

.sidenav a{
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 30px;
    font-weight: bold;
}
.sidenav a:hover{
    color: purple;
}
.add a{
    margin-left: 17px;
    width: 50px;
    height: 23px;
    background-color: blueviolet;
    border-radius: 7px;
}
.right{
    margin-left: 180px;
    display: grid;
}
.right h1{
    text-align: center;

}
.imgInfo {
    display: block;
}
.info {
    display: inline-block;
    margin-left: 10px;
}
.buttonInfo{
    float: right;
    margin-right: 500px;
}
