.song1{
    margin-left: 50px;
    margin-top: 25px;
    display: flex;
}
.jin{
    margin-left:70px;
}
.jk{
    margin-left: 150px;
}
.coldplay{
    margin-left: 150px;
}
.song2{
    margin-left: 50px;
    margin-top: 25px;
    display: flex; 
}
.ptd{
    margin-left:70px;
}
.megan{
    margin-left: 150px;
}
.butter{
    margin-left: 150px;
}
.song3{
    margin-left: 50px;
    margin-top: 25px;
    display: flex; 
}
.spring{
    margin-left:70px;
}
.dynamite{
    margin-left: 150px;
}
.ON{
    margin-left: 150px;
}
.song4{
    margin-left: 50px;
    margin-top: 25px;
    display: flex; 
}
.bst{
    margin-left:70px;
}
.butter1{
    margin-left: 150px;
}
.black{
    margin-left: 150px;
}