body::-webkit-scrollbar{
    display: none;
}
.song1{
    margin-left: 50px;
    margin-top: 25px;
    display: flex;
}
.jin{
    margin-left:70px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.jk{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.coldplay{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.song2{
    margin-left: 50px;
    margin-top: 25px;
    display: flex; 
}
.ptd{
    margin-left:70px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.megan{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.butter{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.song3{
    margin-left: 50px;
    margin-top: 25px;
    display: flex; 
}
.spring{
    margin-left:70px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.dynamite{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.ON{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.song4{
    margin-left: 50px;
    margin-top: 25px;
    display: flex; 
}
.bst{
    margin-left:70px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.butter1{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.black{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}