.sidenav{
    float:left;
    background-color:lavender;
    padding-right: 50px; 
    width:200px;
    height: 1000px;
    position: fixed;
}
.sidenav ul {
    list-style: none;
    padding: 50px;
    margin-right: 50px;

}

.sidenav a{
    text-decoration: none;
    display: inline-block;
    color: purple;
    padding: 50px;
    font-weight: bold;
}
.nav{
    background-color:lavender;
    margin-left: 200px;
    padding: 20px;
    width: 1590px;
    height: 140px;
}
.nav ul {
  list-style: none;
  display: flex;
  margin-top: 40px;
  margin-left: 600px;
}

.nav a{
    text-decoration: none;
    color: purple;
    padding: 50px;
    font-weight: bold;
}
.nav input{
    float: right;
    margin-right: 140px;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    width: 500px;
    height: 30px;

}
h1{
    color: purple;
    text-align: center;
  }
.right{
    position: absolute;
    margin-top: -10px;
    margin-left: 200px;
}
.product{
    margin-left: 50px;
    margin-top: 25px;
    display: flex;
}
.light{
    margin-left:70px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.tickets{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.albums{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.product1{
    margin-left: 50px;
    margin-top: 25px;
    display: flex; 
}
.bt21{
    margin-left:100px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.btsProduct{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.shows{
    margin-left: 150px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.merch{
    margin-left: 10px;
    margin-top: 25px;
    display: flex;
}
.official{
    font-size: 30px;
    margin-left: 100px;
  
  }
.weverse{
    margin-left:100px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.vlive{
    margin-left: 90px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.bt21logo{
    margin-left: 90px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}
.shop{
    margin-left: 90px;
    font-style: unset;
    font-weight: 20px;
    text-align: center;
}