h1{
  color: purple;
  text-align: center;
}
.nav{
    background-color:lavender;
    padding: 20px;
    width: 100%;
    height: 100px;
}
.nav ul {
  list-style: none;
  display: flex;
  text-align: right;
}

.nav a{
    text-decoration: none;
    color: purple;
    padding: 50px;
    font-weight: bold;
    text-align: right;
    display: block;
}
.login {
  margin-left: 600px;
  right: 10px;
}
.logo{
  margin-left: 100px;
}
.table input{
  height: 20px;
  width: 30%;
  padding: 10px;
  margin-left: 730px;
  border-radius: 10px;
  background-color:white;

}
.button1{
  width: 150px;
  height: 50px;
  margin-left: 775px;
  
}
.button2{
  width: 150px;
  height: 50px;
  margin-left: 10px;
  
}
.table button:hover {
  background-color: purple;
  color:white;
}
.table a{
  text-decoration: none;
  color: black;
}
.table p{
  margin-left: 860px;
}
.hello input{
  height: 20px;
  width: 22%;
  padding: 10px;
  align-items:center;
  margin-left: 750px;
  border-radius: 10px;
  background-color:white;
}
.forget{
  width: 150px;
  height: 50px;
  margin-left: 840px;
  border-radius: 5px;
}